<h1>Sections</h1>

<ul>
  <% @sections.each do |section| %>
     <li><%= section.title %></li>
     <% section.lessons.each do |lesson| %>
       <%= lesson.name %>
     <% end %>
  <% end %>
</ul>

<%= link_to "New Section", new_course_section_path %>
