<%= image_tag ("epicodus.png"), :class => "style_image" %>

<h1>Courses</h1>

<ul>
  <% @courses.each do |course| %>

    <li><%= link_to course.language, course_path(course) %></li>

  <% end %>
</ul>

<%= link_to "New Course", new_course_path %>
